.container {
    margin-top: 50px;
}
.chart-container {
    float: left;
    width: 50%;
    padding: 10px;
}
.navbar{
    background-color: #81bfff;
    height: fit-content;

}
.container-nav{
    align-content: center;
}
.navbar-brand{
    color: white;

}